body {
  margin:30px;
  background-color:azure; 
}

a {
  text-decoration: underline;
}

img {
  height: 300px;
}

.spacingblock {
  margin-bottom: 2em;
}

.column {
  width: 46%;
  float: left;
  margin: 15px;
  border: 1px solid black; 
  padding: 10px;
  box-sizing: border-box;
}

.myspace {
  color:blue;
}

.xanga {
  color: red;
}